#dinning-1{
    padding: 20px;
}
.dinning-1-img{
    width: 30vw;
    overflow: hidden;
    height: 30vh;
    padding: 0;
    margin: 0;
    object-fit: cover;

}
#h1-4{
    color: var(--text-1);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    width: 80vw;
    border-bottom: 2px solid var(--text-1);
}
#title{
    margin-bottom: 40px;
    color: var(--text-1);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    border-bottom: 2px solid var(--text-1);
    padding-bottom: 7px;
}
.dinning-1-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;}

#dinning-1 td{
    padding: 0;
    margin: 0;
}

.dinning-1-table{
    background-color: var(--main-colour);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.548);
    margin-bottom: 30px;
}
.dinning-1-content{
    margin: 0;
    padding: 20px;
    color: var(--text-2);
    min-width: 40vw;
}
.food{background-color: var(--main-colour);padding: 20px;}