


.footer_table a{
    text-decoration: none;
    color: var(--text-1);
    font-family: var(--tetiary);
    transition: 0.3s ease-in-out;
    font-size: var(--footer-size);
}
.footer_table td{
    padding: 3px 20px;
}
.footer_table h1{
    
}
.footer_table tr{
        color: var(--text-1);
    font-family: var(--tetiary);
}
.footer_img{
    width: auto;
    height: 100px;
    padding: 0;
}
.footer_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.footer_table a:hover{
    text-decoration: underline;
    font-weight: bold;
    transition: .3s ease-in-out;
}