
    /* Swiper container */
    .swiper {
      max-width: 90%;
      max-width: 90vw;
    }

    /* Slide card */
    .swiper-slide {
      width: 300px;       
      max-width:400px ;      /* controls peek amount */
      background: var(--main-colour);
      display: flex;
      flex-direction: column;
      gap: 12px;
      align-items: right;
      margin-bottom: 50px;
      padding-bottom: 20px;
      
    }
.swiper-slide h3, .swiper-slide p{
  margin-left: 10px;
}
.swiper-slide .buy-btn{margin-left: 10px;}
.swiper-slide h1{margin-left: 10px; margin-bottom: 0;}
    .swiper-slide img {
      width: 100%;
      height: 200px !important;
      object-fit: cover;
      
    }

    .swiper-pagination{
        margin-top: 300px;
    }
.swiper-slide h2{margin-left: 10px;margin-top: 0;}
    /* Pagination (dots) */
    .swiper-pagination-bullet {
      background: var(--main-colour);
      opacity: 1;
      padding: 5px;
    }
    .swiper-pagination-bullet-active {
      background: var(--secondary-colour);
    }
    .swiper-button-prev , .swiper-button-next{
        color: var(--secondary-colour);
    }
    .swiper-button-prev{
     
      color: var(--text-2)!important;
      z-index: 999;
      font-size: .5em;
    }
    .swiper-button-next{
     color: var(--text-2)!important;
       z-index: 999;
      font-size: .5em;
    }
@media (max-width: 650px) {
    .swiper-button-prev, .swiper-button-next{
       display: none !important;
    }
}
     .swiper-button-prev:hover ,.swiper-button-next:hover{
      background-color: none;
     }