.title-section {
    height: 70vh;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: calc(var(--topbar-height) + 20px);
}
.title-section h1 {
    position: relative;
    font-family: var(--main);
    font-size: var(--h1-size);
    color: white;
    margin: 0;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    font-weight: 400;
}
.title{
    width: fit-content;
    background-color: rgba(65, 65, 65, 0.881);
    max-width: 70vw;
    margin-left: 40px;
    padding: 20px 50px 20px 20px;
}
#dinning{
    background-image: url(../images/restaurant.png);
}
#home{
    background-image: url(../images/background.jpg);
}
#contact{
    background-image: url(../images/reeceptionist.jpg);
}
#main-course{background-image: url(../images/breakfast.jpg);min-height: 30vh;}
#drinkss{background-image: url(../images/drinks.jpg);min-height: 20px;}
#cake{background-image: url(../images/cake.jpg);}
#about{background-image: url(../images/hotel.jpg);}